.weather-data {
  grid-row: 1 / -2;
  grid-column: 1 / -1;
  color: #008cff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding-top: 10px;
}

.loader {
  grid-row: 1 / -2;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-city-data {
  grid-column: 1 / 9;
  grid-row: 2 / 3;
  padding-left: 40px;
}
.weather-icon {
  grid-column: 10 / -1;
  grid-row: 2 / 5;
  justify-self: center;
}

.weather-icon h6 {
  text-align: center;
}

.weather-icon h6::first-letter {
  text-transform: capitalize;
}

.small-data {
  grid-column: 5 / 7;
  grid-row: 2;
  justify-self: center;
  align-self: flex-end;
}
