.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(118, 122, 160);
  color: rgb(255, 255, 255);
  width: 100%;
  grid-row: -2 / -1;
  grid-column: 1 / -1;
}
